<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:postgresql://ec2-34-241-19-183.eu-west-1.compute.amazonaws.com:5432/dekkecag0u9pop?sslmode=require
        </property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">soeenhyxmrqymj</property>
        <property name="connection.password">9fb122f75e1bd0e1617374ac3d1b04352223b288dd3329b4e1d41bf815cf67a2</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.verifyServerCertificate">false</property>
        <property name="hibernate.connection.useSSL">true</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="model.BankStatement"/>
        <mapping class="model.BankTransaction"/>
    </session-factory>
</hibernate-configuration>