<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:postgresql://ec2-52-17-1-206.eu-west-1.compute.amazonaws.com:5432/dclf5ebgdu6ksl?sslmode=require
        </property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">ytimgdlgdbgrfb</property>
        <property name="connection.password">ea6d71acfdade775166cd8dc68bb99b91b20f2b26b59cbc4403f84b37e79aab3</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.verifyServerCertificate">false</property>
        <property name="hibernate.connection.useSSL">true</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="model.BankStatement"/>
        <mapping class="model.BankTransaction"/>
    </session-factory>
</hibernate-configuration>